{{#partial "content"}}
	<div class="background"></div>
	<div class="stars"></div>
	<div class="lobby">
		<div class="notifier">Token not valid</div>
		<div class="panel choice-screen onscreen">
			<div class="entry-box">
				<div class="btn create"></div>
				<div class="btn join"></div>
			</div>
		</div>
		<div class="panel join-screen">
			<div class="box join-box">
				<input class="token token-input" type="text" placeholder="">
				<span class="join-btn"></span>
			</div>
		</div>
		<div class="panel create-screen">
			<div class="box create-box">
				<div class="token">asdfe</div>
				<span>等待敌人中...</span>
			</div>
		</div>
	</div>
  <!-- <div id="score" class="score hidden">0 - 0</div> -->
	<!--  music -->
	<!-- <div class="music">
		<audio
	</div> -->
	<!-- lose -->
	<div class="lose hidden">
		<div class="arrow">
			<div class="content">
								很遗憾，
				你丧失了知道真相的资格。
			</div>
		</div>
		<div class="cancel"></div>
	</div>
	<!-- win -->
	<div class="win hidden">
		<div class="mirror"></div>
		<div class="arrow win-content">
			<div class="content">
						你已经赢得了这个游戏
						获得游戏过程自拍一张.
			</div>
		</div>
		<div class="cancel"></div>
	</div>
  <canvas id="cx" width="100%" heigth="100%">
  </canvas>
{{/partial}}

{{> mainlayout}}
